<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Nubank-Finalmente você no controle do seu dinheiro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="publica.css" />
    <link rel="icon" href="images/iconu.png" type="image/x-icon" />
  </head>
  	<body>
    	   	<div class="formulario">
                    <div class="form">
                            <br />
                            <h1> Logado!!!<br>Postagens</h1>
                            <br />
                
                            <form action="/post/register" method="POST">
                
                                <strong> Título: </strong><input type="Text" name="titulo" size="40"><br><br>
                                <strong> Autor: </strong> <input type="Text" name="autor" size="40">
                                <p>
                                    <P><strong> - Descrição: </strong><br><br><textarea name="legenda" cols="35"
                                            rows="6"></textarea><br><br>
                                        <strong> - Escolha arquivo: </strong><br><br><input type="file" id="arquivo" name="arquivo"
                                            accept="image/png, image/jpeg"><br><br>
                                        
                                        <p><br>
                
                                            <input type="Submit" value="Enviar">
                                            <input type="Reset" value="Limpar Dados">
                

                        </div>
                    </div>


    	</div>
  	</body>
</html>
