
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<link rel="stylesheet" type="text/css"  href="css_forms.css" />

</head>
<body>
	<div class="formulario">	
	    <h1 class="text-center"> Login </h1>
	    <form class="form" action="/login" method="post">
	        <p><input type="text" placeholder="Email" name="useremail" required>
	        <p><input type="password" placeholder="Senha" name="password" required minlength="6" maxlength="15">
	        <p><input class="botao" type="submit" value="Logar" /></p>
	    </form>	        
	</div>
</body>
