<!DOCTYPE html>
<html lang="pt-br">
	<head></head>
	<body>
 		<h1 class="text-center"> Lista de Usu&aacute;rios </h1>
 		<ul>
 			<% userlist.forEach(function(user){ %>
 			<li><a href="mailto:<%= user.email %>"><%= user.username %></a></li> 
 			<%})%>
 		</ul>
	</body>
</html>